viptela-smart-19.2.097-genericx86-64.qcow2 filter=lfs diff=lfs merge=lfs -text
viptela-edge-19.2.0-genericx86-64.qcow2 filter=lfs diff=lfs merge=lfs -text
csr1000v-ucmk9.16.11.1a-serial.qcow2 filter=lfs diff=lfs merge=lfs -text
hda.qcow2 filter=lfs diff=lfs merge=lfs -text
